.filters {
    height: 100px;
    background-color: #F9F1E7;
}

.products {
    height: 2300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
    max-width: 1200px; 
    margin: 0 auto;
    padding-top: 80px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #F4F5F7;
    border: 1px solid #9F9F9F;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #D3D3D3;
    cursor: not-allowed;
  }
  